.pokedex-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin: 0rem auto;
}
#pokedex-heading {
    padding: 0.5rem 0;
    font-size: 3rem;
}
